<div class="service-title service-title-bg bg-3">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="service-title-text">
                    <h2>CURATENIE DUPA RENOVARE / CONSTRUCTOR</h2>
                    <ul>
                        <li>
                            <a routerLink="/index">Home</a>
                        </li>
                        <li>
                            <i class="icofont-rounded-double-right"></i>
                            <a routerLink="/service">Services</a>
                        </li>
                        <li>
                            <i class="icofont-rounded-double-right"></i>
                            Service Details
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="service-details-area main-service-area pt-100 services-details-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <img src="assets/img/service/curatenie dupa constructor brasov.jpg" alt="curatenie dupa constructor brasov">
                <div class="service-details-post">
                    <h1>CURATENIE DUPA RENOVARE / CONSTRUCTOR</h1>
                    <p>Dupa o lucrare de renovare este bine sa te pregatesti temeinic, pentru ca mizeria si praful vor
                        ajunge in locuri la care nu te-ai putea gandi vreodata.
                        Tencuiala si pulberea fina isi vor gasi drumul in interiorul si in spatele sertarelor, in
                        interiorul corpurilor de iluminat, pe tocurile si in partea superioara a usilor, peste toti
                        peretii si pe tavan, in masina de spalat vase si in cuptorul cu microunde, in interiorul
                        tesaturii canapelelor… Apoi mai sunt gresia, faianta si parchetul, ferestrele si pervazele, care
                        necesita o curatare serioasa in urma petelor accidentale de vopsea.
                    </p>


                    <h3>Curatenie dupa renovare si
                        <span> ai scapat de stres</span></h3>
                    <p>Desigur, ai putea sa faci tu asta, dar cu ce cost?</p>
                    <p>Curatenia dupa renovare sau post-constructor este una dintre cele mai complexe activitati de
                        acest gen.</p>
                    <p>Este dificil sa ajungi la rezultatul pe care ti-l doresti - un spatiu care sa pastreze doar in
                        amintiri mizeria cauzata de materialele de constructie - in lipsa produselor de curatenie
                        profesionale si a aparaturii performante.</p>
                    <p>Noi facem asta simplu, rapid si in siguranta, pentru ca tu sa te bucuri de un spatiu proaspat
                        renovat, curat si igienizat.</p>
                    <h3>Cu ce te putem ajuta in curatenia de dupa renovare?</h3>

                    <ul>
                        <li>
                            <i class="icofont-check-circled"></i>Stergem definitiv orice urma de materiale de
                            constructie, moloz, pete dificile si alte resturi ramase in urma procesului de constructie /
                            renovare</li>
                        <li>
                            <i class="icofont-check-circled"></i>Indepartam resturile de vopsea, var si ciment de pe
                            tocuri, ferestre, usi si calorifere</li>
                        <li>
                            <i class="icofont-check-circled"></i>Eliminam cu grija etichetele lipite pe geamuri, tocuri,
                            rame si pervaze</li>
                        <li>
                            <i class="icofont-check-circled"></i>Curatam balustradele si tevile</li>
                        <li>
                            <i class="icofont-check-circled"></i>Spalam geamurile accesibile pe ambele parti, tocaria si
                            a pervazurilor aferente pe interior si exterior</li>
                        <li>
                            <i class="icofont-check-circled"></i>Curatam si spalam mecanizat pardoselile dure</li>
                        <li>
                            <i class="icofont-check-circled"></i>Curatam corpurile de iluminat, prizele si
                            intrerupatoarele</li>
                    </ul>
                    <h3>Cine poate apela la serviciul de curatenie post constructor / renovare?</h3>

                    <p>
                        Locurile in care s-au facut amenajari sau renovari la domiciliu, in spatii de birouri, hale
                        industriale sau spatii comerciale necesita un proces de curatenie special astfel incat spatiul
                        respectiv sa ramana apt pentru desfasurarea activitatilor.
                    </p>

                    <p>Daca locuiesti in Brasov sau in zonele din apropiere, echipa noastra se va deplasa care locatia ta cu tot “arsenalul” pe care il detinem. Nu ai nevoie sa cumperi produse de curatenie, pentru ca venim noi cu tot ce este necesar, astfel incat sa lasam in urma un spatiu care sclipeste de curatenie.

                    </p>

                    <div class="theme-button">
                        <a routerLink="/pricing" class="default-btn">Book Now</a>
                    </div>
                </div>

                <div class="page-button">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="theme-button">
                                <a routerLink="/" class="default-btn">
                                    <i class="icofont-rounded-left"></i>
                                    Previous
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 offset-md-6">
                            <div class="theme-button">
                                <a routerLink="/" class="default-btn">
                                    Next
                                    <i class="icofont-rounded-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 main-service-area blog-side-bar">
                <div class="service-sidebar">
                    <form class="search-form">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                            <button type="submit" class="btn btn-primary">
                                <i class="icofont-search-1"></i>
                            </button>
                        </div>
                    </form>

                    <div class="service-list">
                        <p>Categories</p>
                        <ul>
                            <li>
                                <a routerLink="/">
                                    Toilet Cleaning
                                    <i class="icofont-rounded-right"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/">
                                    Stay Hygienic
                                    <i class="icofont-rounded-right"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/">
                                    News
                                    <i class="icofont-rounded-right"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/">
                                    Cleaning Floor
                                    <i class="icofont-rounded-right"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/">
                                    Cleaning Kitchen
                                    <i class="icofont-rounded-right"></i>
                                </a>
                            </li>
                            <li>
                                <a routerLink="/">
                                    Wash Home
                                    <i class="icofont-rounded-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="discount-text">
                        <h1>Get <span>15% Discount</span> on your first Service</h1>

                        <div class="theme-button">
                            <a routerLink="/" class="default-btn">Book Now</a>
                        </div>

                        <div class="discount-shapes">
                            <img src="assets/img/counter/1.png" alt="shape">
                            <img src="assets/img/counter/2.png" alt="shape">
                            <img src="assets/img/counter/3.png" alt="shape">
                            <img src="assets/img/counter/4.png" alt="shape">
                            <img src="assets/img/counter/5.png" alt="shape">
                            <img src="assets/img/counter/6.png" alt="shape">
                            <img src="assets/img/counter/7.png" alt="shape">
                            <img src="assets/img/counter/8.png" alt="shape">
                            <img src="assets/img/counter/5.png" alt="shape">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
