$allsteam-font-family: "allsteam" !default;
$allsteam-font-path: "/assets/fonts" !default;

$icon-cleaning: "\e903";
$icon-phone: "\e904";
$icon-relaxing: "\e905";
$icon-positive-review: "\e902";
$icon-fingerprint: "\e900";
$icon-happy: "\e901";
