
    <div class="service-sidebar">
        
        <div class="service-list">
            <p>Servicii</p>
            <ul>
                <li><a routerLink="/curatenie-birouri-brasov" class="nav-link" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">Curatenie Birouri</a></li>
                <li><a routerLink="/curatenie-la-domiciliu-brasov" class="nav-link" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">Curatenie la Domiciliu</a></li>
                <li><a routerLink="/curatenie-scari-de-bloc-brasov" class="nav-link" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">Curatenie Scari de Bloc</a></li>
                <li><a routerLink="/curatenie-restaurante-cafenele-baruri-brasov" class="nav-link" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">Curatenie HoReCa</a></li>
                <li><a routerLink="/curatenie-dupa-constructor-renovare-brasov" class="nav-link" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">Curatenie dupa Constructor</a></li>
                <li><a routerLink="/curatenie-saloane-infrumusetare-cabinete-medicale-brasov" class="nav-link" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">Curatenie Saloane & Cabinete</a></li>


            </ul>
        </div>
        <div class="service-list">
            <p>Curatare</p>
            <ul>
                
                    <li><a routerLink="/curatare-canapele-fotolii-scaune-brasov" class="nav-link" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">Canapele, Fotolii & Saltele</a></li>
                    <li><a routerLink="/firma-curatare-podele-pavaje-brasov" class="nav-link" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">Pardoseala & Pavaje</a></li>
                    <li><a routerLink="/firma-curatare-echipamente-horeca-brasov" class="nav-link" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">Echipamente HoReCa</a></li>
                    <li><a routerLink="/curatare-tapiterie-auto-detailing-auto-brasov" class="nav-link" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">Tapiterie Auto & Detailing</a></li>
                    <li><a routerLink="/servicii-speciale-de-curatare-brasov" class="nav-link" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}">Servicii Speciale</a></li>


                
            </ul>
        </div>
        <!-- <div class="discount-text">
            <h1>Get <span>15% Discount</span> on your first Service</h1>
            <div class="theme-button"><a routerlink="/" class="default-btn"
                    href="/">Book Now</a></div>
            <div class="discount-shapes"><img src="assets/img/counter/1.png"
                    alt="shape"><img src="assets/img/counter/2.png" alt="shape"><img
                 src="assets/img/counter/3.png" alt="shape"><img
                    src="assets/img/counter/4.png" alt="shape"><img src="assets/img/counter/5.png"
                    alt="shape"><img src="assets/img/counter/6.png" alt="shape"><img
                 src="assets/img/counter/7.png" alt="shape"><img
                    src="assets/img/counter/8.png" alt="shape"><img src="assets/img/counter/5.png"
                    alt="shape"></div>
        </div> -->
    </div>

