<div class="about-title about-title-bg">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="about-title-text">
                    <h2>Despre noi</h2>
                    <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li><i class="icofont-rounded-double-right"></i> About Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<app-portfolio-slider></app-portfolio-slider>


<div class="process-section process-style-two pt-100 pb-70">
    <div class="container">
        <div class="section-head blue-title text-center">
            <h2>Cum <span>Lucram</span></h2>
            <p>E simplu sa ne contactezi! Dureaza doar 60 de secunde, apoi te bucuri de curatenie si de timpul tau liber.</p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="process-card">
                    <i class="icofont-touch"></i>
                    <h3>Ne contactezi</h3>
                    <p>Ne poti suna, scrie pe whatsapp sau trimite un email
                    </p>
                    <img src="assets/img/process-pattern-2.png" alt="arrow">
                </div>
            </div>

            <div class="col-md-4">
                <div class="process-card">
                    <i class="icofont-world"></i>
                    <h3>Ne deplasam la locatia ta</h3>
                    <p>Stabilim de comun acord ziua si ora cand venim la tine</p>
                    <img src="assets/img/process-pattern-2.png" alt="arrow">
                </div>
            </div>

            <div class="col-md-4">
                <div class="process-card">
                    <i class="icofont-recycle-alt"></i>
                    <h3>Te relaxezi</h3>
                    <p>Noi facem curatenie, tu te bucuri de timpul castigat</p>
                </div>
            </div>
        </div>
    </div>
</div>

