<div class="contact-title contact-title-bg  service-title service-title-bg bg-3">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="contact-title-text">
                    <h2>Contact</h2>
                    <ul>
                        <li>
                            <a routerLink="/">Acasa</a>
                        </li>
                        <li>
                            <i class="icofont-rounded-double-right"></i>
                            Contact
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pt-100"></div>